[submodule "src/settings"]
	path = src/settings
	url = https://github.com/Jakobimatrix/settings.git
	branch = main
[submodule "src/timer"]
	path = src/timer
	url = https://github.com/Jakobimatrix/timer.git
	branch = master
[submodule "initRepo"]
	path = initRepo
	url = https://github.com/Jakobimatrix/initRepo.git
	branch = main
