[submodule "src/settings"]
	path = src/settings
	url = git@github.com:Jakobimatrix/settings.git
[submodule "src/utils"]
	path = src/utils
	url = git@github.com:Jakobimatrix/utils.git
[submodule "src/timer"]
	path = src/timer
	url = git@github.com/Jakobimatrix/timer.git
